*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.watch {
 border-bottom: 3px solid #000;
 padding: 0 0 70px;
}

.watch .numbers p{
    border: 5px solid #000;
    border-radius: 30px;
    color: #000;
    font-size: 80px;
    background-color:rgb(230 233 255);
}

h2 {
    font-size: 42px;
    margin:30px 0;
    color: aqua;
}

.buttons {
    display: none;
}
.buttons .btn-start {
    font-size: 42px;
    padding: 6px 0;
    width: 200px;
    background-color: #00ea00;
    border-radius: 10px;
    border: 3px solid #000;
}

.buttons .btn-reset {
    font-size: 42px;
    background-color: #f00;
    border-radius: 10px;
    border: 3px solid #000;
    padding: 6px 0;
    width: 200px;
}

.top, .bottom {
    width: 100%;
    display: flex;
}
.back {
    display:none;
}

.setCoundown button, .setCoundown input {
    background-color: #00ea00;
    font-size: 30px;
    padding:0 20px;
    display: inline-block;
    margin-right: 30px;
}
